[Unit]
Description=Network interface for the emulated Ethernet controller
Documentation=file:/usr/share/bone/README.Debian
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/bone-network start
ExecStop=/usr/sbin/bone-network stop

[Install]
WantedBy=multi-user.target
